
{% extends "repolab/repository/repo_base.html" %}

{% load url from future %}
{% load prettytimes_tags %}
{% load repolab_tags %}

{% block extracss %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/pygments/github.css" />
{% endblock extracss %}

{% block content %}
    <div class="row">
        <div class="span12">
            {% include "repolab/repository/breadcrumbs.html" %}

            {% with nodes as node %}
                {% if node|is_readme %}
                    {% load markup %}
                    {{ node.content|markdown }}
                {% else %}
                    <div class="codehilite">
                        {{ node|render_file|safe }}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
    </div>
{% endblock content %}
