{% extends "base.html" %}

{% load url from future %}
{% load prettytimes_tags %}
{% load repolab_tags %}

{% block content %}
    <div class="row">
        <div class="span12">
            <div class="navbar">
                <div class="navbar-inner">
                    <ul class="nav">
                        <li><a href="{% url 'repo_url' repo.slug %}">Code</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            {{ path|path_breadcrumbs:repo.slug }}
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Last Updated</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                    {% for node in nodes %}
                        <tr class="{% cycle 'row_odd' 'row_even' %}">
                            <td>
                                {% if node.is_dir %}
                                    <i class="icon-folder-open"></i>
                                {% else %}
                                    <i class="icon-file"></i>
                                {% endif %}

                                <a href="{% url 'repo_path_url' repo.slug changeset node.path %}">{{ node }}</a>
                            </td>
                            <td title="{{ node.last_changeset.date }}">
                                {{ node.last_changeset.date|relative_time }}
                            </td>
                            <td>
                                {{ node.last_changeset.message|cut_commit_msg }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
