{% extends "base.html" %}

{% load url from future %}
{% load prettytimes_tags %}
{% load repolab_tags %}

{% block content %}
    <div class="row">
        <div class="span12">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Last Updated</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                    {% for node in nodes %}
                        <tr>
                            <td>
                                {% if node.is_dir %}
                                    <i class="icon-folder-open"></i>
                                {% else %}
                                    <i class="icon-file"></i>
                                {% endif %}

                                <a href="#">{{ node }}</a>
                            </td>
                            <td title="{{ node.last_changeset.date }}">
                                {{ node.last_changeset.date|relative_time }}
                            </td>
                            <td>
                                {{ node.last_changeset.message|cut_commit_msg }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
