body {
  margin-top: 40px;
}
h1,
h2,
h3 {
  margin-top: 0;
  padding: 0;
}
.row_even {
  background-color: #f8f8f8;
}
.hashtext {
  font-family: monospace;
}
.codehilite .highlighttable {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
}
.codehilite .highlighttable pre {
  font-size: 12px;
}
