{% load url from future %}

<!doctype html>
<html>
<head>
    <title>Version Control</title>

    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />

    {% block extracss %}{% endblock extracss %}
</head>
<body>
    {% block global_navbar %}
        <div class="navbar navbar-static-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="{% url 'homepage_url' %}">repolab</a>
                    <ul class="nav">
                        <li><a href="{% url 'homepage_url' %}">Repositories</a></li>
                    </ul>
                    <ul class="nav pull-right">
                        <li>
                            <form class="navbar-search">
                                <input type="text" class="search-query" placeholder="Search..." />
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endblock global_navbar %}
    <div class="container">
        {% block navbar %}{% endblock navbar %}
        {% block content %}{% endblock content %}
    </div>
</body>
</html>
